@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:<400>;
    font-style:normal;
  }
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .main-head{
    max-width: 1440px;
    height: 800px;
    border: none;
    background-image: linear-gradient(to right top, #1b1422, #1a1421, #1a1521, #191520, #19151f, #241f2a, #2f2935, #3a3440, #554d5c, #716879, #8f8597, #aea2b7);
  }
  .nav {
    width: 100%;
    height: 120px;
    border: 2px solid white;
   display: flex;
   justify-content: space-around;
   background-color: white;
   
  
   
   
  }
  .ul {
    display: flex;
  }
  .btn{
    margin-left: 30px;
    text-decoration: none;
    margin-top: 40px;
    color: rgb(62, 74, 105);
    font-weight: 600;
    
  }

  .nav-head{
    font-size:4rem;
    color: orangered ;
    margin-top: 25px;
    
  }

  .header-title{ 
    font-size: 5.5rem;
    margin-top: 130px;
    color: white;
    margin-left: 175px;
  }

  .button{
    padding: 15px 30px;
    margin-left: 175px;
    border: none;
    background-color: #f200a9;
    border-radius: 8px;
    color: white;
  }


  .flex-1{
    display: flex;
  }
.img-jpg{
  margin-left: 70px;
  
  height: auto;
  margin-top: -06px;
}
  


/*RESPONSIVE*/
@media (max-width: 576px) {
  .nav {
      flex-direction: row;
      height: auto;
      justify-content: center;
      align-items: center;
  }

  .nav-head {
      font-size: 20px;
      margin-top: 15px;
      margin-left: 10px;
  }

  .ul {
      flex-direction: row;
      align-items: center;
  }

  .btn {
      margin-left: 10px;
      margin-top: 5px;
      font-size: 10px;
  }

  .header-title {
      font-size: 3rem;
      margin-top: 50px;
      margin-left: 20px;
      text-align: center;
  }

  .button {
      margin-left
      text-align: center;
      
      margin-top:20px;
      padding: 10px 20px;
  

  }

  .img-jpg {
      margin-left: 8px;
      
      width: 100%;
      height: auto;
  }
  .flex-1{
      flex-direction: column;
      
  }
  .main-head{
      max-height: 800px;
  }
}


